.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.advantages__item {
  background-color: $white;
  padding: 37px 0 37px 0;
}

.advantages__item--blue {
  color: $white;
  background-color: $blue;
}

.advantages__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 11px;
  text-align: center;
}

.advantages__title--white {
  color: $white;
}

.advantages__text {
  @include fontsizes(14px, 21px, 400, $light-black);
  text-align: center;
}

.advantages__text:not(:last-child) {
  margin-bottom: 17px;
}

.advantages__text--white {
  color: $white;
}

.advantages__advantages-city-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $white;
}
