// .advantages-section {

// }

.advantages-section__list {
  background-color: $blue;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-section__item {
  box-sizing: border-box;
  // padding: 37px 0 37px 0;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages-section__item-has-divider {
  @media (max-width: $mobile-width-only) {
    padding: 71px 0 37px 0;
    background-image: url("../../img/index/divider-advantages.svg");
    background-position: top;
    background-repeat: no-repeat;
  }
}

.advantages-section__item--size-xxl {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages-section__item--has-image {
  color: $white;
  background-color: $blue;
}

.advantages-section__item--has-icon {
  background-position: top 24px left 18px;

  @media (max-width: $mobile-width-only) {
    padding: 33px 10px 0 65px;
  }

  @media (min-width: $tablet-width) {
    background-position: top 51px center;
  }

  @media (min-width: $desktop-width) {
    background-position: top 62px center;
  }
}

.advantages-section__item--has-icon-house {
  background-image: url("../../img/index/house.svg");
  // background-position: top 24px left 18px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 158px 0 60px 0;
    background-size: 78px 81px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 165px 0 70px 0;
    background-size: 78px 81px;
  }
}

.advantages-section__item--has-icon-food {
  background-image: url("../../img/index/food.svg");
  // background-position: top 24px left 18px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 156px 0 61px 0;
    background-size: 80px 80px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 164px 0 59px 0;
    background-size: 74px 81px;
  }
}

.advantages-section__item--has-icon-souvenirs {
  padding-bottom: 44px;
  background-image: url("../../img/index/souvenir.svg");
  // background-position: top 24px left 18px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 153px 0 59px 0;
    background-size: 80px 90px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 166px 0 59px 0;
    background-size: 91px 84px;
    background-position: top 62px left 153px;

    br {
      display: block;
    }
  }
}

.advantages-section__item--has-line {
  padding: 23px 10px 26px 10px;
  background-color: $gray;

  // @media (max-width: $mobile-width-only) {
  //   position: relative;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 284px;
  //     height: 1px;
  //     background-color: $darkestgray;
  //     top: -2px;
  //     left: 10px;
  //   }
  // }

  @media (min-width: $tablet-width) {
    padding: 54px 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 52px 0;
  }
}

.advantages-section__item--has-line:not(:last-child) {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 284px;
      height: 1px;
      background-color: $darkestgray;
      bottom: 2px;
      left: 10px;
    }
  }
}

.advantages-section__item--has-line-road {
  @media (min-width: $tablet-width) {
    padding: 43px 0 25px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 25px 0;
  }
}

.advantages-section__container {
  padding: 0 0 38px 0;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 44px 0 38px 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 53px 0 38px 0;
  }
}

.advantages-section__container--change-order {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    //других order нет
    order: 1;
  }
}

.advantages-section__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 12px;
  text-align: center;


  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.advantages-section__title--has-image {
  color: $white;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 125px;
  }
}

.advantages-section__title--has-image:nth-of-type(2) {
  padding-top: 0;
}

.advantages-section__title-has-icon {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 16px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages-section__title--has-line {
  padding: 0 49px;

  @media (min-width: $desktop-width) {
    padding: 0 121px;
  }
}

.advantages-section__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 31px;

    // br {
    //   display: none;
    // }
  }

  @media (min-width: $desktop-width) {
    padding: 0 46px;
  }
}

.advantages-section__text:not(:last-child) {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages-section__text--has-image {
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 83px;
  }
}

.advantages-section__text--true-city {
  @media (min-width: $desktop-width) {
    padding: 0 65px;
  }
}

.advantages-section__text--has-icon {
  @media (max-width: $mobile-width-only) {
    text-align: left;
  }
}

.advantages-section__text--has-icon-food {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.advantages-section__text--has-icon-souvenirs {
  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 75px;
  }
}

.advantages-section__text--has-line {
  padding: 0 25px;

  br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px;
  }
}

.advantages-section__text--has-line-road {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 62px;
  }
}

.advantages-section__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages-section__advantages-section-city-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
