.feedback-form {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    width: 648px;
    padding: 30px 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    grid-template-columns: 480px 480px;
    padding: 29px 0 49px 0;
  }
}

.feedback-form__group {
  margin: 0;
  padding: 0 0 0 0;
  border: none;
  box-sizing: border-box;
}

.feedback-form__title {
  @include fontsizes(18px, 26px, 700, $black);
  // margin: 0;
  padding-top: 25px;
  padding-bottom: 19px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 16px;
  }
}

.feedback-form__label {
  @include fontsizes(14px, 21px, 400, $lightblack);
  // margin-bottom: 16px;
}

.feedback-form__input {
  @include fontsizes(18px, 26px, 700, $black);
  display: block;
  margin: 0 auto;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: $white;
  }
}

//Группа для персональных данных - фио, телефон, почта
.feedback-form__group--person-information {
  padding: 0 0 25px 0;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      // bottom: 25px;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.feedback-form__label--person-information {
  padding: 0 0 0 36px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 16px;
  }
}

.feedback-form__input--person-information {
  width: 280px;
  margin-bottom: 15px;
  padding: 16px 16px 16px 16px;
  background-color: $lightgray;
  border: none;
  letter-spacing: -1px;

  @media (min-width: $desktop-width) {
    width: 430px;
    padding: 17px 16px 16px 16px;
  }
}

// Группа для контактных данных - телефон, почта
.feedback-form__group--contacts {
  padding: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    align-content: flex-end;

    &::before {
      content: "";
      position: absolute;
      top: -54px;
      bottom: 23px;
      width: 1px;
      background-color: $darkgray;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      bottom: 26px;
      left: 13px;
    }
  }
}

.feedback-form__input--contacts {
  &:not(:placeholder-shown) {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 402px;
  }
}

.feedback-form__input--contacts-phone {
  padding-right: 74px;
  background-image: url("../../img/form/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.feedback-form__input--contacts-email {
  padding-right: 74px;
  background-image: url("../../img/form/email-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.feedback-form__input--contacts::placeholder {
  opacity: 0.3;
}

// Группа для радио инпутов - впечатление
.feedback-form__group--impression {
  padding: 11px 0 0 0;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 36px 280px 280px 36px;
    width: 560px;
    margin: 0 auto;
    padding: 12px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    padding: 0 45px 43px 60px;
  }
}

.feedback-form__title--impression {
  @media (min-width: $desktop-width) {
    padding: 31px 15px 55px 0;
  }
}

.feedback-form__label--impression {
  @include fontsizes(18px, 26px, 700, $black);
  position: relative;
  display: block;
  padding-bottom: 36px;
  padding-left: 81px;

  @media (min-width: $tablet-width) {
    padding: 0 0 36px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 54px;
    margin-right: 70px;
    margin-bottom: 30px;
  }
}

.feedback-form__label--impression:nth-of-type(3n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-left: 59px;
  }
}

.feedback-form__label--impression:nth-of-type(2n+1) {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    grid-column: 2/3;
  }
}

.feedback-form__label--impression:nth-of-type(2n) {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    grid-column: 3/4;
    padding: 0 0 36px 70px;
  }
}

// Группа для чекбоксов - достопримечательности
.feedback-form__group--attractions {
  padding: 9px 0 0 0;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 84px 224px 224px 84px;
    margin: 0 auto;
    padding: 39px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding: 39px 45px 45px 45px;
  }
}

.feedback-form__title--attractions {
  @media (min-width: $tablet-width) {
    padding: 10px 117px 0 117px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 370px 30px 295px;
  }
}

.feedback-form__label--attractions {
  @include fontsizes(18px, 26px, 700, $black);
  position: relative;
  display: block;
  margin-bottom: 36px;
  padding-left: 81px;

  @media (min-width: $desktop-width) {
    padding: 0 64px 0 62px;
    box-sizing: border-box;
  }
}

.feedback-form__label--attractions:nth-of-type(4n) {
  padding-right: 60px;
}


.feedback-form__label--attractions:nth-of-type(2n) {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    grid-column: 3/4;
    padding: 0 0 0 94px;
  }
}

.feedback-form__label--attractions:nth-of-type(2n+1) {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    grid-column: 2/3;
    padding: 0 0 0 62px;
  }
}

// Группа для групп, которые занимает два столбца на планшете и десктопе
.feedback-form__group--size-xxl {
  position: relative;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 123px;
      top: -40px;
      left: 0;
      height: 1px;
      background-color: $darkgray;
    }

    &::after {
      content: "";
      position: absolute;
      width: 123px;
      top: -40px;
      right: 0;
      height: 1px;
      background-color: $darkgray;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
      top: -70px;
    }

    &::after {
      width: 280px;
      top: -70px;
    }
  }

  // @media (min-width: $desktop-width) {
  //   width: 960px;
  //   grid-template-columns: 480px 480px;

  //   &::before {
  //     width: 280px;
  //   }

  //   &::after {
  //     width: 280px;
  //   }
  // }
}

.feedback-form__group--size-xxl-attractions {
  @media (min-width: $tablet-width) {
    &::before {
      top: -27px;
    }

    &::after {
      top: -27px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: -58px;
    }

    &::after {
      top: -58px;
    }
  }
}

.feedback-form__group--size-xxl-emotions {
  @media (min-width: $tablet-width) {
    &::before {
      top: -42px;
    }

    &::after {
      top: -42px;
    }
  }
}

// Группа для textarea
.feedback-form__group--emotions {
  padding: 0 0 44px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 48px 0;
  }
}

.feedback-form__title--emotions {
  @media (min-width: $tablet-width) {
    padding: 16px 0 27px 0;
  }
}

.feedback-form__textarea {
  @include fontsizes(18px, 26px, 700, $black);
  display: block;
  width: 279px;
  margin: 0 auto;
  padding: 16px 16px 14px 16px;
  background-color: $lightgray;
  resize: none;
  border: none;
  box-sizing: border-box;
  letter-spacing: -1px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.feedback-form__textarea::placeholder {
  @include fontsizes(18px, 26px, 700, $black);
  opacity: 0.3;
}

.feedback-form__control-mark {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  top: -11px;
  margin-left: -61px;
  // left: 20px;
  background-color: $lightgray;

  // @media (min-width: $tablet-width) {
  //   left: -8px;
  //   margin-left: -61px;
  // }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.feedback-form__control-mark--radio {
  border-radius: 50%;
}

.feedback-form__input:checked + .feedback-form__control-mark--radio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  background-color: $lightblack;
  border-radius: 50%;
}

.feedback-form__input:checked + .feedback-form__control-mark--radio:active::before {
  opacity: 0.3;
}

.feedback-form__input:checked + .feedback-form__control-mark--checkbox::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 15px;
  left: 10px;
  background-image: url("../../img/form/tick.svg");
}

.feedback-form__input:checked + .feedback-form__control-mark--checkbox:active::before {
  opacity: 0.3;
}

.feedback-form-container {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 648px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 768px;
    justify-content: space-between;
    padding-left: 96px;
  }
}

.feedback-form__button {
  @include fontsizes(21px, 26px, 700, $white);
  width: 280px;
  margin: 0 auto;
  margin-bottom: 2px;
  padding: 16px 16px 16px 16px;
  text-transform: uppercase;
  letter-spacing: -2px;
  background-color: $blue;
  // white-space: nowrap;

  &:hover {
    background-color: $darkblue;
  }

  &:focus {
    background-color: $darkblue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $darkestblue;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
    // padding: 16px 16px 16px 16px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
    // padding: 16px 101px 16px 101px;
  }
}

.feedback-form__text {
  @include fontsizes(12px, 21px, 400, $lightblack);
  margin: 0;
  padding-right: 20px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 23px 0 0 0;
  }
}
