.footer__hashtag-link {
  @include fontsizes(21px, 26px, 700, $black);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__htmlacademy-link {
  @include fontsizes(14px, 21px, 400, $black);
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
