.main__header {
  padding: 34px 18px 16px 18px;

  @media (min-width: $tablet-width) {
    width: 564px;
    margin: 0 auto;
    padding: 48px 3px 54px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 3px 43px 0;
  }
}

.main__header--form {
  padding: 37px 18px 27px 18px;

  @media (min-width: $tablet-width) {
    width: 435px;
    padding: 64px 0 50px 0;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.main__header--catalog {
  @media (min-width: $tablet-width) {
    width: 440px;
    // padding: 0 166px 56px 166px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0 382px 44px 382px;
  }
}

.main__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 25px;

    br {
      display: none;
    }
  }
}

.main__title--form {

  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 19px;
  }
}

.main__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 26px;

    br {
      display: none;
    }
  }
}
