.main__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

.main__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
