.main__header {
  padding: 34px 0 16px 0;

  @media (min-width: $tablet-width) {
    width: 564px;
    margin: 0 auto;
    padding: 49px 3px 56px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 3px 45px 0;
  }
}

.main__header--form {
  padding: 37px 0 27px 0;

  @media (min-width: $tablet-width) {
    width: 453px;
    padding: 64px 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    width: 453px;
    padding: 114px 0 13px 0;
  }
}

.main__header--catalog {
  padding: 38px 14px 38px 14px;

  @media (min-width: $tablet-width) {
    padding: 66px 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 99px 0 62px 0;
  }
}

.main__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 35px;
  padding: 0 24px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 25px;

    // br {
    //   display: none;
    // }
  }
}

.main__title--form {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.main__title--catalog {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.main__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  padding: 0 9px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 24px;

    // br {
    //   display: none;
    // }
  }
}

.main__text--catalog {
  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding: 0 59px;
  }
}
