.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.3);
  /*логотип (индекс 1), открытое меню-навигация (индекс 2), кнопка открытия / закрытия меню (индекс 3)*/
  z-index: 4;
}

.modal-window-container--close {
  display: none;
}

.modal-window {
  position: relative;
  margin: auto;
  background-color: $white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 347px;
  }
}

.modal-window--failure {
  width: 320px;
  padding: 45px 45px 35px 45px;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 0;
    // padding: 45px 60px 35px 60px;
    // padding: 20px 0 20px;
  }
}

.modal-window--valid-success {
  width: 320px;
  padding: 37px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 640px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 0 0;
  }
}

.modal-window__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    padding: 37px 75px 24px 75px;
  }
}

.modal-window__title--valid-success {
  @media (min-width: $tablet-width) {
    padding: 7px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 24px 0;
  }
}

.modal-window__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    padding: 0 37px;

    br {
      display: none;
    }
  }
}

.modal-window__text--valid-success {
  padding: 0 53px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    padding: 0 110px 0 110px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.modal-window__button {
  @include fontsizes(18px, 26px, 700, $white);
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $blue;

  &:hover {
    background-color: $darkblue;
  }

  &:focus {
    background-color: $darkblue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $darkestblue;
  }
}

.modal-window__button--failure {
  width: 180px;
  padding: 18px 64px 14px 63px;

  @media (min-width: $tablet-width) {
    width: 272px;
    padding: 18px 18px 14px 18px;
  }
}

.modal-window__button-success {
  width: 280px;
  padding: 18px 64px 14px 63px;
  letter-spacing: -1px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 458px;
    padding: 18px 18px 14px 18px;
    // letter-spacing: 0;
  }
}

.modal-window__button-container {
  width: 100%;
  padding: 20px;
  background-color: $lightgray;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 44px;
  }
}
