.modal-window-container {
  background-color: rgba($black, 0.3);
}

.modal-window {
  background-color: $white;
}

.modal-window--failure {
  margin: 0 auto;
  padding: 50px 0 50px 0;

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.modal-window--valid-success {
  margin: 0 auto;
  padding: 53px 0 44px 0;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal-window__title {
  @include fontsizes(18px, 26px, 700, $black);
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}

.modal-window__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 45px 0 45px;

    br {
      display: none;
    }
  }
}

.modal-window__text--valid-success {
  @media (min-width: $tablet-width) {
    padding: 0 110px 0 110px;

    br {
      display: none;
    }
  }
}

.modal-window__button {
  @include fontsizes(18px, 26px, 700, $white);
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $blue;
}

.modal-window__button--failure {
  // width: 180px;
  padding: 18px 64px 14px 63px;

  @media (min-width: $tablet-width) {
    width: 272px;
    padding: 18px 108px 14px 107px;
  }
}

.modal-window__button-success {
  // width: 180px;
  padding: 18px 64px 14px 63px;

  @media (min-width: $tablet-width) {
    width: 458px;
    padding: 18px 140px 14px 139px;
  }
}

.modal-window__button-container {
  width: 100%;
  padding: 44px 0 44px 0;
  background-color: $lightgray;
}
