.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-header__logo-link {
  width: 185px;
  margin: 0 auto;
  margin-bottom: -40px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-header__logo-image {
  display: block;
}

.page-header__image {
  display: block;
  margin: 0 auto;
  margin-top: 90px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    margin-top: 77px;
  }
}

.page-header__image--secondary {
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    margin-top: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 102px;
  }
}
