.page-header-container {
  width: 100%;
  height: 389px;
  background-color: $blue;
  background-image:
    url("../../img/header/divider-main-desktop.svg"),
    url("../../img/header/main-background-mobile.webp");
  background-position: bottom center, center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-mobile@2x.webp");
    background-size: cover, cover;
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-tablet.webp");
    background-position: bottom center, center top;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/header/divider-main-desktop.svg"),
        url("../../img/header/main-background-tablet@2x.webp");
      background-size: auto, cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/header/divider-main-desktop.svg"),
        url("../../img/header/main-background-desktop@2x.webp");
    }
  }
}

.page-header-container--secondary {
  height: 158px;
  background-position: bottom, bottom left;

  @media (min-width: $tablet-width) {
    height: 290px;
    background-position: bottom center, center bottom;
  }

  @media (min-width: $desktop-width) {
    height: 300px;
    background-position: center bottom -1px, bottom left 0;
  }
}
