.page-header-container {
  width: 100%;
  height: 389px;

  background-image: linear-gradient(to right, #81b3d2 14%, #ffffff);
  background-image:
    url("../../img/header/divider-main-desktop.svg"),
    url("../../img/header/main-background-mobile.webp");
  background-position: bottom, center;
  background-repeat: no-repeat;
  // background-size: 100% 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-mobile@2x.webp");
    background-size: 640px auto;
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-tablet.webp");
    background-position: bottom center, center top;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/header/divider-main-desktop.svg"),
        url("../../img/header/main-background-tablet@2x.webp");
      background-size: 2400px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../../img/header/divider-main-desktop.svg"),
      url("../../img/header/main-background-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/header/divider-main-desktop.svg"),
        url("../../img/header/main-background-desktop@2x.webp");
    }
  }
}

.page-header-container--secondary {
  height: 158px;
  // background-image: url("../../img/index/divider-main-desktop.svg"),
  //   url("../../img/index/main-background-mobile.png");
  background-position: bottom, bottom left;
  // background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 290px;
    // background-image: url("../../img/index/divider-main-desktop.svg"),
    //   url("../../img/index/main-background-desktop.png");
    background-position: bottom center, center bottom;
  }

  @media (min-width: $desktop-width) {
    height: 300px;
    // background-image: url("../../img/index/divider-main-desktop.svg"),
    //   url("../../img/index/main-background-desktop.png");
    background-position: center bottom -1px, bottom left 0;
  }
}
