.photo-content-section__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #e5e5e5;
      left: 0;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    grid-template-columns: 400px 400px 400px;
  }
}

.photo-content-section__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #e5e5e5;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.photo-content-section__item--size-xxl {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.photo-content-section__image {
  display: block;
}

.photo-content-section__title {
  @include fontsizes(14px, 21px, 700, $black);
  text-transform: uppercase;
}

.photo-content-section__author-name {
  @include fontsizes(14px, 21px, 400, $lightblack);
}

.photo-content-section__button {
  @include fontsizes(14px, 21px, 700, $black);
}
