.photo-content-section__list {
  position: relative;
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #e5e5e5;
      top: -1px;
      right: 0;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    justify-content: center;
    grid-template-columns: 324px 324px;
    padding: 24px 0 39px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    grid-template-columns: 400px 400px 400px;
  }
}

.photo-content-section__item {
  padding: 24px 0 19px 0;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #e5e5e5;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $lightgray;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo-content-section__item:nth-of-type(2n+3) {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    background-color: #eaeaea;
  }
}

.photo-content-section__item--size-xxl {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.photo-content-section__image {
  display: block;
  margin: 0 auto;
  background-color: $blue;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 14px;
  }
}

.photo-content-section__title {
  @include fontsizes(14px, 21px, 700, $black);
  margin: 0;
  margin-bottom: 1px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo-content-section__author-name {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo-content-section__button {
  @include fontsizes(14px, 21px, 700, $black);
  display: flex;
  align-items: center;
  max-height: 35px;
  margin-left: 7px;
  padding: 10px 10px 10px 10px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 10px 2px $blue;
  }

  &:focus {
    box-shadow: 0 0 10px 2px $blue;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    color: rgba($black, 0.6);
    box-shadow: 0 0 5px 2px $blue inset;
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    color: $white;

    &:hover {
      box-shadow: 0 0 10px 2px $white;
    }

    &:focus {
      box-shadow: 0 0 10px 2px $white;
    }

    &:active {
      color: rgba($white, 0.6);
      box-shadow: 0 0 5px 2px $white inset;
    }
  }
}

.photo-content-section__icon {
  margin-bottom: 10px;
  padding-right: 14px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    padding-right: 9px;
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}
