.subsribe-section__title {
  @include fontsizes(21px, 26px, 700, $black);
  text-align: center;
  text-transform: uppercase;
}

.subsribe-section__text {
  @include fontsizes(14px, 21px, 700, $light-black);
  text-align: center;
  text-transform: uppercase;
}

.subsribe-section__link {
  @include fontsizes(21px, 26px, 700, $white);
  display: flex;
  justify-content: center;
  padding: 16px 49px 16px 49px;
  text-decoration: none;
  background-color: $blue;
  text-transform: uppercase;
}
