.video-content-section {
  padding: 17px 0 0 0;
}

.video-content-section__slogan {
  @include fontsizes(18px, 26px, 700, $black);
  margin: 0;
  margin-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
}

.video-content-section__text {
  @include fontsizes(14px, 21px, 400, $lightblack);
  margin: 0;
  margin-bottom: 25px;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 160px 0 160px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 370px 0 370px;

    br {
      display: none;
    }
  }
}
