.video-content-section-container {
  position: relative;
  width: 280px;
  height: 177px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}
